lib/halcon/bin/halconc.dll filter=lfs diff=lfs merge=lfs -text
lib/halcon/bin/halconxl.dll filter=lfs diff=lfs merge=lfs -text
lib/halcon/bin/hdevenginecppxl.dll filter=lfs diff=lfs merge=lfs -text
lib/halcon/bin/halcon.dll filter=lfs diff=lfs merge=lfs -text
lib/halcon/bin/halconcppxl.dll filter=lfs diff=lfs merge=lfs -text
lib/halcon/bin/halconcxl.dll filter=lfs diff=lfs merge=lfs -text
lib/halcon/bin/hdevenginecpp.dll filter=lfs diff=lfs merge=lfs -text
lib/halcon/bin/libiomp5md.dll filter=lfs diff=lfs merge=lfs -text
lib/halcon/bin/halconcpp.dll filter=lfs diff=lfs merge=lfs -text
lib/halcon/lib/halcon.lib filter=lfs diff=lfs merge=lfs -text
lib/halcon/lib/halconcxl.lib filter=lfs diff=lfs merge=lfs -text
lib/halcon/lib/hdevenginecppxl.lib filter=lfs diff=lfs merge=lfs -text
lib/halcon/lib/halconc.lib filter=lfs diff=lfs merge=lfs -text
lib/halcon/lib/halconcpp.lib filter=lfs diff=lfs merge=lfs -text
lib/halcon/lib/halconcppxl.lib filter=lfs diff=lfs merge=lfs -text
lib/halcon/lib/halconxl.lib filter=lfs diff=lfs merge=lfs -text
lib/halcon/lib/hdevenginecpp.lib filter=lfs diff=lfs merge=lfs -text
lib/halcon/lib/libiomp5md.lib filter=lfs diff=lfs merge=lfs -text
lib/OpenCV_4_10/bin/opencv_videoio_ffmpeg4100_64.dll filter=lfs diff=lfs merge=lfs -text
lib/OpenCV_4_10/x64/vc16/bin/opencv_videoio_ffmpeg4100_64.dll filter=lfs diff=lfs merge=lfs -text
lib/OpenCV_4_10/x64/vc16/bin/opencv_videoio_msmf4100_64.dll filter=lfs diff=lfs merge=lfs -text
lib/OpenCV_4_10/x64/vc16/bin/opencv_videoio_msmf4100_64d.dll filter=lfs diff=lfs merge=lfs -text
lib/OpenCV_4_10/x64/vc16/bin/opencv_world4100.dll filter=lfs diff=lfs merge=lfs -text
lib/OpenCV_4_10/x64/vc16/bin/opencv_world4100d.dll filter=lfs diff=lfs merge=lfs -text
lib/OpenCV_4_10/x64/vc16/bin/opencv_world4100.pdb filter=lfs diff=lfs merge=lfs -text
lib/OpenCV_4_10/x64/vc16/bin/opencv_world4100d.pdb filter=lfs diff=lfs merge=lfs -text
